body {
    margin: 0;
    padding: 0;
    text-align: justify;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

#project-description {
    width: 80%;
}

.col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 24px;
    padding: 20px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 15px;
    align-items: center;
    margin: 24px;
    padding: 20px 30px;
    border-radius: 15px;
}

#home-col-1 {
    width: 30%;
}

#home-col-2 {
    width: 50%;
}

#project-col-1 {
    width: 50%
}

#project-col-2 {
    width: 25%;
}

.fun-facts {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 15px;
    width: 91%;
    margin: 24px;
    padding: 40px;
    border-radius: 15px;
    justify-content: flex-start;
}

h2 {
    margin-bottom: 0px;
}

img {
    width: 60%;
    border-radius: 15px;
}

.more {
    display: flex;
    justify-content: center;
}