body {
    margin: 0;
    padding: 0;
    text-align: justify;
}

.project-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.project-head h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 50vh;
    max-width: 80vw;
    overflow: hidden; 
    margin: 20px;
}

#scroll {
    overflow-y: auto;
}

.col-1 {
    border-radius: 15px;
    width: 50%; 
    display: flex;
    justify-content: center; 
    margin: 20px;
    overflow: hidden;
    border-color: #222;
    border-width: 5px;
    border-style: solid;
}

.col-2 {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 15px;
    align-items: center;
    padding: 20px 30px;
    border-radius: 15px;
    width: 50%; 
    margin: 20px;
}

.fun-facts {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    background-color: #f3f3f3;
    justify-content: center;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}

h2 {
    margin-bottom: 0px;
}

.col-1 img {
    width: 100%;
    border-radius: 15px;
    object-fit: contain; 
}

#pd {
    margin-bottom: 0px;
}

/* Transition to single column layout for smaller screens */
@media screen and (max-width: 650px) {
    .info {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        max-height: none;
    }
    .col-1 {
        width: auto;
    }

    .col-2 {
        width: auto;
    }
}

/* piano */

.great-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin: 20px auto;
    padding: 20px;
    max-width: 90%;
}

.piano {
    background-color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
    padding: 20px;
}

.poem {
    font-style: italic;
    width: auto;
}

.piano-keys {
    width: 80%;
    height: 75%;
}

.white-key {
    height: 100%;
    background-color: white;
}

.black-key {
    height: 40%;
    background-color: black;
    border-radius: 15px;
    justify-content: flex-start;
}


