body {
    margin: 0;
    padding: 0;
    text-align: justify;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#project-description {
    width: 80%;
}

.project-head {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}

.project-head h1 {
    font-weight: bold;
    margin-bottom: 0;
}

.project-head p {
    margin-top: 10px;
}

.col-1 {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 24px;
    padding: 20px;
    width: 30%;
    display: flex;
    justify-content: center; /* Horizontally center */
}

.col-2 {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 15px;
    align-items: center;
    margin: 24px;
    padding: 20px 30px;
    border-radius: 15px;
    max-height: 50vh;
    max-width: 80vw;
    margin: auto;
}

#home-col-2 {
    width: 60%;
}

#project-col-2 {
    width: 40%;
}

.fun-facts {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    justify-content: center;
    border-radius: 15px;
    width: 91%;
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 15px;
    justify-content: flex-start;
}

h2 {
    margin-bottom: 0px;
}


.col-1 img {
    width: 100%; /* Ensure the image fills the container */
    border-radius: 15px;
    margin: auto; /* Center the image within the container */
}

.more {
    display: flex;
    justify-content: center;
    color: #222;
}

.foot {
    background-color: #0C425D;
    text-align: right;
    padding: 24px;
}