.topnav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #e0e8f0; /* Background color */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

#header {
    text-align: left;
    margin-left: 20px; /* Adjust margin for header */
    color: #333; /* Dark gray text color */
    display: inline-block; /* Make header inline with links */
    vertical-align: middle; /* Align vertically with links */
}

.links {
    text-align: right;
    margin-right: 20px; /* Adjust margin for links */
    list-style-type: none;
    padding: 0; /* Remove default padding */
}

.links li {
    display: inline-block;
    padding: 10px; /* Adjust padding for links */
}

.links li:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.links a {
    text-decoration: none;
    color: #333; /* Dark gray text color */
}

.links a:visited {
    color: #333; /* Dark gray text color */
}