.menu-icon {
    display: none; 
}

.links.mobile {
    display: none; 
}

.links {
    display: block; 
}

/* Hide navigation links on screens less than 650px */
@media screen and (max-width: 650px) {
    .links {
        display: none; 
    }

    .links.mobile {
        display: none; 
    }

    .menu-icon {
        display: inline-block; 
        height: 1em; 
        width: auto; 
        vertical-align: middle;
    }

    .links.mobile .linkedin-icon {
        display: none; 
    }

    .links.mobile .linkedin-text {
        display: inline-block; 
    }
}

.links .linkedin-icon {
    height: 1em; 
    width: auto; 
    vertical-align: middle; 
}


.links .linkedin-text {
    display: none; 
}


.links.mobile li {
    display: block;
    padding: 10px; 
}

.topnav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #222; 
    padding: 0; 
    margin: 0; 
    font-size: large;
    font-weight: bold;
    color: white;
}

.navbar {
    display: inline-block; 
    vertical-align: middle; 
}

#header {
    margin-left: 40px;
}

#nav {
    text-align: left;
    margin-left: 40px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.links {
    text-align: right;
    margin-right: 40px; 
    padding-bottom: 40px;
    margin-top: -40px;
    list-style-type: none;
    padding: 0; 
}

.links li {
    display: inline-block;
    padding: 20px; 
    padding-top: 0;
}

.links li:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.links a {
    text-decoration: none;
    color: white; 
}

.links a:visited {
    color: white;
}

#header img {
    height: 10%;
}